<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Steven Chiu</title>

    <link href="/resources/css/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="site">
      <nav>
        <ul class="nav-bar">
          <li class="nav-item">
            <a id="main-item" href="/">zcd</a>
          </li>
          <li class="nav-item">
            <a href="/blog/index">Blog</a>
          </li>
        </ul>
      </nav>

      {{~> body}}
      
      <footer>
        <p>
          Steven Chiu
          <br>
          <a href="mailto:contact@zerocooldown.com">contact@zerocooldown.com</a>
          <br>
          <a href="https://github.com/zcd">https://github.com/zcd</a>
        </p>
      </footer>
    </div>
  </body>
</html>
